
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <a href="~/Client/Login">Đăng nhập</a>
        <a href="~/Client/Register">Đăng ký</a>
    </div>
</body>
</html>
